*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid 1px; */
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.5s;
}
body{
    line-height: 1.5;
}
button{
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.5s;
    &::after{
        opacity: 0.7;
    }
}