<footer class="footer">
    <div class="container">
        <div class="d-flex">
            <div class="content-left">
                <ul class="d-flex">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="series.html">系列鏡框</a></li>
                    <li><a href="location.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="faq.html">常見問題</a></li>
                </ul>
                <ul>
                    <li><a href="tel:+0800-000-000"><span class="material-symbols-outlined"> call </span>0800-000-000</a></li>
                    <li><a href="tel:+0800-000-000"><span class="material-symbols-outlined"> mail </span>glasses@business.com</a><li>
                </ul>
            </div>
            <div class="content-right">
                <ul class="d-flex">
                    <li><a href="#"><img src="/assets/images/ic-social-fb.png" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/ic_social_ig.png" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/ic_social_line.png" alt=""></a></li>
                </ul>
            </div>
        </div> 
        <hr>
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul>
            <li>隱私權政策</li>
            <li>服務條款</li>
        </ul>
    </div>
</footer>