.container{
  max-width: 1296px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}

.bg-light {
  background: $bg-light;
}

.bg-dark {
  background: $primary;
}

.text-white {
  color: white;
}

.d-flex {
  display: flex;
}